## List the best seed models

Here we look at the outputs from the previous notebool and list the best models for use in subsequent notebooks

In [ ]:
import pandas as pd

In [94]:
hi_metrics = []
ma_metrics = []
ta_metrics = []
_metrics = []

for i in range(10):
    for lang in ['hi', 'ma', 'ta']:
        D = 'outputs/' + str(i) + '/amrita-paraphrase-exact/' + 'train-' + lang + '/model-ai4bharat-indic-bert/test_results_' + lang + '.txt'
        with open(D) as f:
            lines = f.readlines()
            _metrics.append((lang, str(i),  lines[0][5:][:-1], lines[1][:-1][16:]))

In [81]:
m_pd = pd.DataFrame (_metrics, columns= ['lang', 'seed', 'acc', 'loss'],)

### List the `max acc`, `min loss` models for `hi`

In [82]:
m_pd[m_pd['acc'] ==   m_pd[m_pd['lang'] == 'hi']['acc'].max()]

   lang seed                  acc                loss
12   hi    4   0.9133333333333333  0.4090363383293152

In [84]:
m_pd[m_pd['loss'] ==   m_pd[m_pd['lang'] == 'hi']['loss'].min()]

   lang seed                  acc                loss
24   hi    8   0.9011111111111111  0.3841525912284851

### List the `max acc`, `min loss` models for `ta`

In [89]:
m_pd[m_pd['acc'] ==   m_pd[m_pd['lang'] == 'ta']['acc'].max()]

   lang seed    acc                loss
11   ta    3   0.85  0.5411586165428162

In [90]:
m_pd[m_pd['loss'] ==   m_pd[m_pd['lang'] == 'ta']['loss'].min()]

   lang seed                  acc                loss
29   ta    9   0.8255555555555556  0.5086850523948669

### List the `max acc`, `min loss` models for `ma`

In [91]:
m_pd[m_pd['acc'] ==   m_pd[m_pd['lang'] == 'ma']['acc'].max()]

   lang seed                  acc                loss
22   ma    7   0.8755555555555555  0.5125184059143066

In [92]:
m_pd[m_pd['loss'] ==   m_pd[m_pd['lang'] == 'ma']['loss'].min()]

   lang seed                  acc               loss
16   ma    5   0.8577777777777778  0.382969468832016